@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Quicksand:wght@300..700&display=swap");

*{margin: 0; padding: 0;}
body {background-color: #F0F0F2; display: flex; flex-direction: column;}
html {scroll-behavior: smooth;}

/* Header */
header{position: fixed; z-index: 2; background-color: #000000; width: 100vw; height: 14vh; padding: 0;}
nav{display: flex; width: 100vw; height: 14vh; justify-content: space-between; align-items: center; flex-direction: row; padding-block: 0.5vh;}
#nav-links{width: 35vw;}
#nav-links>a{text-decoration: none; color: #fff3f2; margin-inline: 2%; font-family: 'Quicksand'; font-size: 125%; transition: 0.15s;}
#nav-links>a:hover{color: #cac1c0;}
#sushi-logo{width: 105px; height: 115px; margin-block: auto; margin-left: 3vw;}
/* /Header */

/* MAIN */
/* Primeira sessão */
.font-botao > a{text-decoration: none; color: #fff3f2; transition: 0.3s; border-radius: 20px; background-color: #ff421e; padding: 10px;}
.font-botao > a:hover{padding: 15px; font-size: 1.8rem; color: #cac1c0; background-color: #cc3418; border-radius: 1.6rem}
.container{max-width: 100%; min-height: 110vh; z-index: 0; background-position: center; background-repeat: no-repeat; position: relative; background-size: cover;}
#princ{background-image: url(../img/img-sushi.png);}
.filter {height: 110vh; background-color: #00000025;}
.format{display:flex; align-items: center; justify-content: center; text-align: center;}

.font-botao2 > a{text-decoration: none; color: #fff3f2; transition: 0.3s; border-radius: 20px; background-color: #ff421e; padding: 10px;}
.font-botao2 > a:hover{padding: 15px; font-size: 1.8rem; color: #cac1c0; background-color: #cc3418; border-radius: 1.6rem}

/* Segunda sessão */
.container2{max-width: 100%; min-height: 70vh; z-index: 0; display: flex; flex-direction: row; justify-content: space-around;}
.div2{display: flex; justify-content: space-evenly; margin-top: 70px; align-items: center; flex-direction: column;} 
.div2-1{display: flex; flex-direction: row;}
#baixo{margin-top: 230px; margin-left: 40px;}

/* Teceira sessão */
.container3{max-width: 100%; min-height: 60vh; z-index: 0; text-align: left;}
.div3{display: flex; justify-content: space-evenly; margin-top: 70px; align-items: center; flex-direction: row;}
.div3-1{display: flex; flex-direction: column; align-items: center;}

/* Quarta sessão */
.container4{max-width: 100%; min-height: 20vh; z-index: 0; margin-block-end: 2.34%;}
.div4{display: flex; align-items: center; flex-direction: column;}
.div4-1{display: flex; justify-content: center; width: 50%;}
.contato-simbolo{padding: 2%;}

/* /MAIN */


/* Footer */
footer{background-color: #5a6ead; height: 50px; display: flex; align-items: center;}
#footer{margin: auto;}
footer p{font-family: 'Quicksand'; font-size: 1rem; color: white;}
/* /Footer */


/* Fonts */
.font-title{color: white; font-size: 4rem; font-family: 'Quicksand';}
.font1{color: white; font-size: 2rem; margin: 20px; font-family: 'Quicksand';}

#title-font2{color: black; font-size: 2rem; margin-left: 40px; font-family: 'Quicksand'; width: 500px; text-align: justify; font-weight: 700; margin-block-end: 3.5%; margin-inline-start: 0.5%;}
.font2{color: black; font-size: 1.5rem; margin-left: 40px; font-family: 'Quicksand'; width: 500px; text-align: justify;}

.font-botao{font-size: 1.5rem; font-family: 'Quicksand'; margin: 10px;}
.font-botao2{font-size: 1.5rem; font-family: 'Quicksand'; margin-top: 40px;}

#font3{color: black; font-size: 1.5rem; margin-left: 40px; font-family: 'Quicksand'; width: 500px; text-align: justify;}
#title-font3{color: black; font-size: 2rem; margin-left: 40px; font-family: 'Quicksand'; text-align: justify; font-weight: 700; margin-block-end: 3.5%; margin-inline-start: 0.5%;}

#title-font4{color: black; font-size: 2rem; margin-left: 40px; font-family: 'Quicksand'; text-align: justify; font-weight: 700; margin-block-end: 3.5%; margin-inline-start: 0.5%;}


/* Estilizando a barra de rolagem */
body::-webkit-scrollbar {width: 10px; border-radius: 5px;}
body::-webkit-scrollbar-thumb {background-color: #ffffff; border-radius: 5px; transition: .1s;}
body::-webkit-scrollbar-thumb:hover{background-color: #cecece;}
body::-webkit-scrollbar-track {background-color: #f93110;}

/* cores */
/*  
#F0F0F2
#D9C5B4
#A66D58
#F26A4B
#F29580*/
