@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Quicksand:wght@300..700&display=swap");

*{margin: 0; padding: 0;}
body {background-color: #F0F0F2; display: flex; flex-direction: column; font-family: 'Quicksand';}
html {scroll-behavior: smooth;}


.title{width: 100%;height: 750px; justify-content: center; display: flex; align-items: center; flex-direction: column; background-color: #dedede;}

.title a img{transition: 1s;}
.title a img:hover{margin-top: 50px; }
.font-title-1{font-size: 4.5rem; margin-bottom: 50px;}

#pedido{margin-bottom: 100px;}


form{ margin: 20px 0 0 0; border-bottom: solid 3px #adadad;}
.container-form{display: grid; gap: 1px; grid-template-columns: repeat(3, 1fr); justify-items: center; gap: 20px;}
/* 4a5a93 */
.item{background-color: #f96160; width: 100%; max-width: 380px; height: 200px; display: flex; border-radius: 10px; flex-direction: row; justify-content: space-between; align-items: flex-end; border: solid black 2px; box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}

.img-form{background-repeat: no-repeat; width:100%;  height:100%; min-height: fit-content; object-fit: fill;}
#img{height: 100%;}
img{border-top-left-radius: 9px;border-bottom-left-radius: 9px;}

.item .item-content{ display: flex; margin: 0; flex-direction: column; height:100%; max-height: 200px; justify-content: space-between; border-left: solid #fff 2px; color: #fff;}

.item .item-content div{padding: 10px;}
.item .item-content p {width: 170px; font-size: .9rem;}

input{width: 100%; max-width: 100px; height: 30px; font-family: 'Quicksand'; font-size: 1rem; text-align: center; margin: 0 0 0 30px; border-radius: 10px; border-color: black;}
#preco{ display: flex; align-items: center;}

.result{display: flex; width: 100%; justify-content: space-around; border-top: solid 3px #adadad; margin-top: 50px; background-color: #5a6ead; align-items: center;}
.result span{font-size: 20px; color: #fff; border-bottom: 1px solid #fff;}
button{color: #fff3f2; transition: 0.3s; border-radius: 20px; background-color: #ff421e; padding: 10px 50px; border: solid 1px #fff; font-size: 20px; font-family: 'Quicksand'; margin: 50px 70px 50px 70px;}
button:hover{background-color: #ff441ea7; padding: 20px 55px; cursor: pointer;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}